<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-success">
        <strong>Message:</strong> {{ message }}
    </div>
    {% endfor %}

    <h1>URL Shortner</h1>
    <h3>Hello {{fname}}!</h3>
    {% if user.is_authenticated %}
 
    <form method="post" action="{% url 'shorten_url' %}">
      {% csrf_token %} {{ form.as_div }}
      <button type="submit" class="button-54">Shorten</button>
    </form>

    <form method="post" action="{% url 'cshorten_url' %}">
      {% csrf_token %}
        <input type="url" name="original_url" placeholder="Enter your link" required/>
        <div class="custom-url">
        <label for="custom_url">{{ base_url }} </label>
        <input type="text" name="custom_url" placeholder="" required/>
        <button type="submit" class="button-54">Custom Shorten</button>
       </div>
    </form>

    <div class="button-container">
      <a href="{% url 'dashboard' %}" class="button-54">Dashboard</a>
      <a href="{% url 'signout' %}" class="button-54">Sign Out</a>
    </div>
    {% else %}
    <div class="button-container">
      <a href="{% url 'signup' %}" class="button-54">Sign Up</a>
      <a href="{% url 'signin' %}" class="button-54">Sign In</a>
    </div>
    {% endif %}

    <p>&copy; 2024 | <a href="#">Soash</a></p>
</body>
</html>