<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect</title>
    {% load static %}
    <style>
        h1 {
            font-size: 24px;
            text-align: center;
            margin-top: 30px;
        }
        
        #countdown {
            font-weight: bold;
            color: #333;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Please wait <span id="countdown"> 15 </span> seconds...</h1>

    <script>
        var countdown = 15;
        var intervalId = setInterval(function() {
            countdown--;
            document.getElementById("countdown").textContent = countdown;

            if (countdown === 0) {
                clearInterval(intervalId);
                window.location.href = "{{ original_url }}"; // Redirect to the original URL
            }
        }, 1000);
    </script>
    
    <script async="async" data-cfasync="false" src="//pl21973692.toprevenuegate.com/d10a3559c0132e304352649b86214002/invoke.js"></script>
    <div id="container-d10a3559c0132e304352649b86214002"></div>

    <script type="text/javascript">
        atOptions = {
            'key' : 'f478b037fb3564d466d2dafeb3913985',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f478b037fb3564d466d2dafeb3913985/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : 'f478b037fb3564d466d2dafeb3913985',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f478b037fb3564d466d2dafeb3913985/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : 'f478b037fb3564d466d2dafeb3913985',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f478b037fb3564d466d2dafeb3913985/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : 'f478b037fb3564d466d2dafeb3913985',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f478b037fb3564d466d2dafeb3913985/invoke.js"></scr' + 'ipt>');
    </script>
    
</body>
</html>
